/**
 * Name: Weather App
 * Description: Display Weather of a City
 * Version: 1.0.0
 * Author: Shrikumar Infotech
 * Author URI: dev@shrikumarinfotech.com
 * License: MIT
 * Lincense URI: https://opensource.org/licenses/MIT
 */

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    word-break: break-all;
}

*{
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    color: #000000;
    background-color: #76bdff;
}

/* Weather App */

#weather-display{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 auto;
    padding: 10px;
    width: 320px;
    background-color: #76bdff;
}

.display-city{
    width: 100%;
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.display-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
}

.display-icon-image{
    margin: 0 auto;
    text-align: center;
}

.display-icon-image img{
    width: 100%;
    height: auto;
}

.display-weather-description{
    font-size: 1.6rem;
    text-align: center;
}

.display-temperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.top-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display-temp{
    padding: 10px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.display-feels-like, .display-min-temp, .display-max-temp{
    padding: 5px;
    font-size: 1.6rem;
    text-align: center;
}

.display-humidity, .display-pressure, .display-wind-speed{
    padding: 5px;
    text-align: center;
    font-size: 1.8rem;
}

.display-form{
    margin-top: 10px;
}

.input-text{
    padding: 4px;
    outline: none;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.submit-button{
    padding: 5px;
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #000000;
}


@media (max-width: 767px){
    #weather-display{
        width: 100%;
    }
}